body {
    background-color: #4dd2ff;
}

#Kick {
    float: left;
    margin-right: 10px; 
}

#Snare {
    float: left;
    margin-right: 10px; 
}

#Tom {
    float: left;
    margin-right: 10px; 
}

#Ride {
    float: right;
    margin-right: 400px; 
}

#Openhat {
    float: left;
    margin-right: 10px; 
}

#Clap {
    float: right;
    margin-right: 200px; /* Adjust the value as needed */
}

#Boom {
    float: left;
    margin-right: 10px; /* Adjust the value as needed */
}

#Tink {
    float: left;
    margin-right: 10px; /* Adjust the value as needed */
}

#Hihat {
    float: left;
    margin-right: 10px; 
}



